* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  all: unset;
  cursor: pointer;
}

header {
  width: 100%;
  padding: 0 5%;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.container-header:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0px;
}

.container-header .header-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
}

.container-header .header-div.menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.container-header nav a {
  color: #333;
  position: relative;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-header nav a:hover {
  border-bottom: 5px solid #ff7d1a;
}

.container-header .user {
  width: 50px;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
}

.container-header .user:hover {
  border: 2px solid #ff7d1a;
}

.container-header .cart {
  cursor: pointer;
}

.slide {
  width: 100%;
  max-width: 1140px;
  height: auto;
  margin: 20px auto;
  overflow: hidden;
}

.slide .slide-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.slide img {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 100%;
  max-width: 1140px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.close-menu,
.icon-menu {
  all: unset;
  display: none;
  cursor: pointer;
}

main {
  padding: 30px 0;
  margin: 0 50px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 50px auto;
  border-top: 1px solid #764b0736;
}

.container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.container .title a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

.container .title a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffbb11;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.container .title a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1140px;
  gap: 40px;
}

.products .card-product {
  width: 230px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
  padding: 0 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.products .card-product img {
  width: 100%;
}

.products .card-product:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-title h2 {
  width: 100%;
}

.footer-title .icon-dropdown {
  display: none;
  width: 20px;
  height: 20px;
}

footer {
  background-color: #ffbb11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  height: 50vh;
}

footer .container-footer {
  width: 100%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

footer .footer-links {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

footer a {
  color: #764701;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

footer a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media (max-width: 850px) {
  .container-header .header-div.menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container-header .header-div.menu .icon-menu {
    display: initial;
  }
  .menu-mobile {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.55);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: none;
  }
  .menu-mobile.menu-active {
    display: initial;
  }
  .menu-mobile nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: #fff;
    height: 100vh;
    width: 60%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 40px;
    padding: 40px;
    -webkit-animation: animeRight 0.4s forwards;
            animation: animeRight 0.4s forwards;
  }
  .menu-mobile nav a {
    height: 20px;
  }
  .menu-mobile nav .close-menu {
    display: initial;
  }
}

@media (max-width: 768px) {
  footer {
    height: auto;
  }
  .container-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-footer section {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #764701;
  }
  .container-footer section .footer-links {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .container-footer section .icon-dropdown {
    display: initial;
  }
  .container-footer section h2 {
    cursor: pointer;
  }
}

@media (max-width: 370px) {
  .container-header .header-div {
    gap: 20px;
  }
  .container .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
  }
}

@-webkit-keyframes animeRight {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: initial;
            transform: initial;
  }
}

@keyframes animeRight {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: initial;
            transform: initial;
  }
}
/*# sourceMappingURL=styles.css.map */