* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  background: url("../imagens/capa.png"), url("../imagens/ruido.png"), linear-gradient(50deg, #ff4169, #7c26f8);
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: white;
}

header nav.navbar-transparente {
  padding: 15px 0px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

header nav.navbar-transparente .container .navbar-collapse {
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
}

header .divisor {
  width: 1px;
  background: white;
  margin: 12px 15px;
}

header .navbar-light .navbar-nav .nav-link {
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .navbar-light .navbar-nav .nav-link:hover {
  color: #98eadd;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.logo img {
  width: 142px;
}

#first-content {
  height: 100vh;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#first-content #spotify {
  width: 100%;
}

#first-content .carousel-inner {
  text-align: center;
}

#first-content .carousel-inner h1 {
  color: white;
  font-weight: 900;
  font-size: 5em;
  margin-bottom: 40px;
}

#first-content .carousel-inner .btn-purple {
  background: #6207e3;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.2em;
  margin-bottom: 20px;
}

#first-content .carousel-inner .btn-white {
  border: 2px solid white;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
}

#first-content .carousel-inner .btn {
  margin-bottom: 20px;
}

#second-content {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 20px;
}

#second-content .img {
  text-align: right;
  width: 600px;
  margin-right: 20px;
}

#second-content .img img {
  width: 210px;
  height: 210px;
  margin: 10px;
}

#second-content .about {
  width: 570px;
  padding-bottom: 50px;
}

#second-content .about h2,
#second-content .about h3 {
  color: #7c25f8;
  font-weight: bold;
  font-size: 2em;
}

#second-content .about h2 {
  font-size: 3em;
}

#third-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: clip;
}

#third-content .content {
  width: 400px;
  max-width: 380px;
  padding: 30px;
}

#third-content .content h2 {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}

#third-content .content h3 {
  color: #9bf0e1;
}

#third-content .content p {
  color: white;
}

#third-content .iphone {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  margin-left: 100px;
}

#third-content .iphone img {
  width: 49%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: black;
  position: relative;
  padding: 20px 0;
}

footer a {
  font-size: 0.9em;
}

footer a:hover {
  color: #9bf0e1;
}

footer h6 {
  color: #7e9483;
}

footer .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

footer .comunity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .social img {
  margin-left: 10px;
}

@media (max-width: 1040px) {
  #first-content .carousel-inner h1 {
    font-size: 4em;
  }
  #second-content .img img {
    width: 150px;
    height: 150px;
  }
  #second-content p {
    width: 300px;
  }
}

@media (max-width: 870px) {
  #third-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 750px) {
  .divisor {
    display: none;
  }
  #second-content {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #second-content .img {
    margin: 0 auto;
    width: 100%;
  }
  #second-content .img img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
  }
  #second-content .about {
    margin: 0 auto;
    width: 100%;
  }
  #second-content .about p {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  footer .logo,
  footer .links {
    margin-bottom: 20px;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .social {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (max-width: 700px) {
  #third-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #third-content .iphone {
    width: 250px;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 576px) {
  #first-content .carousel-inner h1 {
    font-size: 2em;
  }
  #first-content .carousel-inner .btn-purple,
  #first-content .carousel-inner .btn-white {
    font-size: 0.9em;
  }
  #second-content .about h2 {
    font-size: 2em;
  }
  #second-content .about h3 {
    font-size: 1.5em;
  }
}

@media (max-width: 350px) {
  #third-content .content {
    width: 300px;
  }
  #third-content p {
    width: 250px;
  }
}
/*# sourceMappingURL=style.css.map */