@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #2b2e43;
    height: 100vh;
}

main {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    font-family: 'Kaushan Script';
    font-size: 5em;
    color: white;
    padding-top: 50px;
}

.input {
    width: 100%;
    max-width: 500px;
}

#addTask {
    width: 400px;
    height: 40px;
    margin-top: 50px;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
    font-size: 1.3em;
    background: white;
    color: blueviolet;
    outline: none;
    transition: 0.7s all;
    margin-bottom: 50px;
}

#addTask:focus {
    width: 500px;
}

::-webkit-input-placeholder {
    text-align: center;
    color: blueviolet;
}

#list {
    text-align: left;
}

#list div {
    border: 1px solid;
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.2em;
    font-family: 'Sriracha', cursive;
    background: #484c69;
    color: white;
    position: relative;
    border: none;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.328);
}

input[type='checkbox'] {
    margin: 10px 50px;
    text-align: left;
    transform: scale(2);
    cursor: pointer;
}

.checked + label{
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
    text-decoration-color: black;
}

label img {
    width: 30px;
    position: absolute;
    right: 70px;
    cursor: pointer;
}

@media (max-width: 500px) {
    h1 {
        font-size: 3em;
    }

    #addTask {
        width: 300px;
    }

    #addTask:focus {
        width: 350px;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 3em;
    }

    #addTask {
        width: 280px;
    }

    #addTask:focus {
        width: 310px;
    }
}